  <!--Main start-->
    <main>
        <!--Hero start-->
        <section id="hero">
            <div class="hero-inner">
                <div class="hero-img"><img src="./assets/img/1140 hero image_0.jpg" alt="hero-img">
                </div>
                <div class="hero-body">
                    <div class="container">
                        <div class="row justify-content-center search-box ">
                            <div class="col-12">
                                <div class=" d-flex align-items-center">
                                    <input type="search" name="" id="" placeholder="Ev heyvanları axtar">
                                    <span>|</span>
                                    <input type="search" name="" id="" placeholder="Şəhər və Rayonlara görə axtar">
                                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center my-5 title  ">
                            <div class="col-12 col-lg-8">
                                <div class="text-center  pt-4 ">
                                    <p class="fs-1 fw-bold mb-0">Ən yaxşı yeni dostlarını tap</p>
                                    <p class="fs-4 mt-0">Ev heyvanını bizim web səyifədə axtar</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center  hero-cards">
                            <div class="col-6 col-md-3 col-lg-2 pb-3">
                                <a href="#">
                                    <div class="hero-card text-center py-3">
                                        <img src="./assets/img/dog2.png" alt="dog-img">
                                        <p class="fs-5 ">İtlər</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6  col-md-3  col-lg-2">
                                <a href="">
                                    <div class="hero-card text-center py-3">
                                        <img src="./assets/img/cat1.png" alt="dog-img">
                                        <p class="fs-5">Pişiklər</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6  col-md-3 col-lg-2">
                                <a href="./blog.html">
                                    <div class="hero-card text-center py-3">
                                        <img src="./assets/img/blogging.png" alt="dog-img">
                                        <p class="fs-5">Blog</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6  col-md-3 col-lg-2">
                                <a href="">
                                    <div class="hero-card text-center py-3">
                                        <img src="./assets/img/pet-house-home.png" alt="dog-img">
                                        <p class="fs-5">Sığınacaqlar</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Hero end-->
        <!--Animal section 1 start-->
        <section id="animal">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center ">
                        <div class="advert-box  ">
                            <a href="#">
                                <img src="./assets/img/6928510420969335607.gif" alt="gif">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-12 text-center animal-title">
                        <a href="#">
                            <p class="fs-1">
                                Sahiblənə biləcəyiniz ev heyvanları
                            </p>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-2 col-md-3 col-6">
                        <a href="#">
                            <div class="animal-box text-center mb-3">
                                <div class="pet-img">
                                    <img src="./assets/img/indir.jpg" alt="">
                                </div>
                                <p class="fs-3 pt-3 mb-0 ">Domino</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-md-3 col-6">
                        <a href="#">
                            <div class="animal-box text-center mb-3">
                                <div class="pet-img">
                                    <img src="./assets/img/indir.jpg" alt="">
                                </div>
                                <p class="fs-3 pt-3 mb-0 ">Domino</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-md-3 col-6">
                        <a href="#">
                            <div class="animal-box text-center mb-3">
                                <div class="pet-img">
                                    <img src="./assets/img/indir.jpg" alt="">
                                </div>
                                <p class="fs-3 pt-3 mb-0 ">Domino</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-md-3 col-6">
                        <a href="#">
                            <div class="animal-box text-center mb-3">
                                <div class="pet-img">
                                    <img src="./assets/img/indir.jpg" alt="">
                                </div>
                                <p class="fs-3 pt-3 mb-0 ">Domino</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-10">
                        <a href="#">
                            <div class="more-box text-center mb-3">
                                <img src="./assets/img/paw-print.png" alt="pawimg" class="mt-5">
                                <p class="py-1 fs-4">5555 artıq ev heyavnı<br>
                                    Petfinderdə</p>
                                <p class="fs-5 fw-bold py-3 mb-0">Ətraflı oxu . . .</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <!--Animal section 1 end-->

        <!--Planing section start-->
        <section id="plan" class="py-5">
            <div class="container">
                <div class="row py-3">
                    <div class="col-12">
                        <div class="plan-title text-center py-2">
                            <h2>Ev heyavanına sahiblənməyi planlaşdırırsız ?</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-6 py-2 px-3">
                        <div class="plan-card text-center mb-5">
                            <h4 class="py-3">Checklist for New Adopters</h4>
                            <p class="mb-5">Get the latest on adoption processes, learn how local shelters and rescue
                                groups are
                                adapting and find out what you can do to help dogs and cats in need right now.</p>
                            <a href="#"><span class="fs-5 py-2 px-2 px-md-5 "> Learn More</span></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 py-2 px-3 ">
                        <div class="plan-card text-center">
                            <h4 class="py-3">Checklist for New Adopters</h4>
                            <p class="mb-5">Get the latest on adoption processes, learn how local shelters and rescue
                                groups are
                                adapting and find out what you can do to help dogs and cats in need right now.</p>
                            <a href="#"> <span class="fs-5 py-2 px-2 px-md-5 "> Learn More </span></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 py-2 px-3">
                        <div class="plan-card text-center">
                            <h4 class="py-3">Checklist for New Adopters</h4>
                            <p class="mb-5">Get the latest on adoption processes, learn how local shelters and rescue
                                groups are
                                adapting and find out what you can do to help dogs and cats in need right now.</p>
                            <a href="#"><span class="fs-5 py-2 px-2 px-md-5">Learn More</span> </a>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!--Planing section end-->

        <!--Animal section 2 start-->
        <section id="animal">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-center pt-5 pt-md-1">
                        <a href="#">
                            <div class="advert-box pt-5 ">
                                <img src="./assets/img/7664748080391793672.gif" alt="gif">
                        </a>
                    </div>
                </div>
                <div class="col-6 text-center pt-5 pt-md-1">
                    <a href="#">
                        <div class="advert-box pt-5 ">
                            <img src="./assets/img/87879516141970041.jpg" alt="gif">
                    </a>
                </div>
            </div>
            </div>
            <div class="row py-5">
                <div class="col-12 text-center animal-title">
                    <a href="#">
                        <p class="fs-1">
                            Sahiblənə biləcəyiniz ev heyvanları
                        </p>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-2 col-md-3 col-6">
                    <a href="#">
                        <div class="animal-box text-center mb-3">
                            <div class="pet-img">
                                <img src="./assets/img/indir.jpg" alt="">
                            </div>
                            <p class="fs-3 pt-3 mb-0 ">Domino</p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-2 col-md-3 col-6">
                    <a href="#">
                        <div class="animal-box text-center mb-3">
                            <div class="pet-img">
                                <img src="./assets/img/indir.jpg" alt="">
                            </div>
                            <p class="fs-3 pt-3 mb-0 ">Domino</p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-2 col-md-3 col-6">
                    <a href="#">
                        <div class="animal-box text-center mb-3">
                            <div class="pet-img">
                                <img src="./assets/img/indir.jpg" alt="">
                            </div>
                            <p class="fs-3 pt-3 mb-0 ">Domino</p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-2 col-md-3 col-6">
                    <a href="#">
                        <div class="animal-box text-center mb-3">
                            <div class="pet-img">
                                <img src="./assets/img/indir.jpg" alt="">
                            </div>
                            <p class="fs-3 pt-3 mb-0 ">Domino</p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-10">
                    <a href="#">
                        <div class="more-box text-center mb-3">
                            <img src="./assets/img/paw-print.png" alt="pawimg" class="mt-5">
                            <p class="py-1 fs-4">5555 artıq ev heyavnı<br>
                                Petfinderdə</p>
                            <p class="fs-5 fw-bold py-3 mb-0">Ətraflı oxu . . .</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <a href="#">
                        <div class="article-card text-center">
                            <div class="big-img text-center">
                                <img src="./assets/img/47.jpeg" alt="pet-img">
                                <div class="little-img ">
                                    <img src="./assets/img/47.jpeg" alt="pet-img">
                                </div>
                            </div>
                            <div class="article-text pt-3 mt-3 mb-0">
                                <h5>İt sahiblənmə haqqında məqalələr</h5>
                                <p>İtlərə qulluq haqqında daha çox öyrən</p>
                                <p class="pt-4 pb-3 mb-0 fs-5">Ətraflı oxu</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <a href="#">
                        <div class="article-card text-center">
                            <div class="big-img text-center">
                                <img src="./assets/img/PF2015_267_Kittens_Shelter-630.jpg" alt="pet-img">
                                <div class="little-img ">
                                    <img src="./assets/img/PF2015_267_Kittens_Shelter-630.jpg" alt="pet-img">
                                </div>
                            </div>
                            <div class="article-text pt-3 mt-3 mb-0">
                                <h5>Pişik sahiblənmə haqqında məqalələr</h5>
                                <p>Pişiklərə qulluq haqqında daha çox öyrən</p>
                                <p class="pt-4 pb-3 mb-0 fs-5">Ətraflı oxu</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            </div>
        </section>
        <!--Animal section 2 end-->
    </main>
    <!--Main end-->