@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Şifrəni yenilə";
}

 <main>
        <section id="reset-password" class="py-5">
            <div class="container">
                <div class="row">
                    <div class=" col-12 col-lg-8">
                        <div class="res-pas-inner py-5 px-4 my-2">
                            <h1 class="my-4">Şifrəni yenilə</h1>
                            <form asp-action="changepassword" method="post">
                                @*<span class="position-relative d-inline"><input type="password" placeholder="Yeni şifrə"
                                        id="password"><span class="position-absolute top-0 end-0 mx-2"
                                        id="password-icon"><i class="fa-regular fa-eye "></i></span></span>
                                <span class="position-relative d-inline"><input type="password"
                                        placeholder="Şifrəni təkrarla" id="password"><span
                                        class="position-absolute top-0 end-0 mx-2 " id="password-icon"><i
                                            class="fa-regular fa-eye "></i></span></span>*@
                                               <input name="token" type="hidden" value="@Model.Token" />
                            <input name="email" type="hidden" value="@Model.Email" />
                                            <div class="position-relative d-inline">
                                   <input asp-for="Password"  placeholder="Şifrə" id="password" >
                                   <div class="position-absolute top-0 end-0 mx-2" id="password-iconn" ><i class="fa-regular fa-eye "></i></div>
                               </div> 
                               <div class="text-warning" asp-validation-for="Password"></div>
                               <div class="position-relative d-inline">
                                   <input asp-for="ConfirmPassword" type="password" placeholder="Şifrəni təkrarla" id="password" >
                                   <div class="position-absolute top-0 end-0 mx-2 " id="password-icon"><i class="fa-regular fa-eye "></i></div>
                               </div> 
                                 <div class="text-warning" asp-validation-for="ConfirmPassword"></div>
                                <button type="submit" class="py-2 px-5 fs-5 my-2">Təstiqlə</button>
                            </form>
                            <p class="pt-3">Artıq hesabınız var ? <a asp-action="login" class="text-light"> Giriş
                                    et</a></p>
                            <p>Qeydiyyatdan keçməmiziz ?<a asp-action="register" class="text-light"> Qeydiyyatdan keç</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

